PORT=3000
NODE_ENV=development
HEADLESS=true
HEADLESS_AUTHENTICATOR=false

# Browser Settings
CONCURRENT_TABS=10

# Facebook Login (for downloading avatars from private profiles)
FB_EMAIL=your_facebook_email@example.com
FB_PASSWORD=your_facebook_password

# MySQL Database
DB_HOST=localhost
DB_USER=root
DB_PASS=r00t
DB_NAME=accounts_ytb
DB_DIALECT=mysql
DB_PORT=3306

# Cronjob schedules (cron format)
# DAILY_TASK_SCHEDULE=0 9 * * *
# PERIODIC_TASK_SCHEDULE=*/30 * * * *
#chorme
CHROME_EXECUTABLE="C:\Program Files\Google\Chrome\Application\chrome.exe"
CHROME_USER_DATA_DIR: "C:\Users<YourUser>\AppData\Local\Google\Chrome\User Data"

#mac
CHROME_EXECUTABLE="/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"
CHROME_USER_DATA_DIR="$HOME/Library/Application Support/Google/Chrome"