PORT=9000
NODE_ENV=development
CONCURRENT_TABS=3
DB_STORAGE=tool_ytb.db

CHROME_EXECUTABLE="C:\Program Files\Google\Chrome\Application\chrome.exe"
CHROME_USER_DATA_DIR="C:\Users\Public\AppData\Local\Google\Chrome\User Data"
CHROME_USE_TEMP_PROFILE=true